<!DOCTYPE html>
<html>
<head>
	<title>{{config.general.blog.title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/blog.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/api/config/css.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
	<script src="/api/config/js.js"></script>
</head>
<body>
	<div id='color-bar'></div>
	<header>
		<a href='/blog/posts'>{{config.general.blog.title}}</a>
		<div>{{config.general.blog.description}}</div>
	</header>
	{% if !posts.length %}
		<h1 id='no-posts'>No posts to show here</h1>
	{% endif %}
	{% if tag %}
		<h1 class='post'>Showing all posts with the tag "{{tag}}"</h1>
	{% endif %}
	{% for post in posts %}
		<div class='post'>
			<div class='post-header'>
				<div class='post-date-author-bar'>
					<div class='post-date-created'>{{post.dateString}}</div>
				</div>
				<a href='/blog/posts/{{post._id.toString()}}' class='post-title'>{{post.title}}</a>
			</div>
			<div class='post-body'>
				{% autoescape false %}{{post.bodyMarkdown}}{% endautoescape %}
			</div>
			<div class='post-tags'>
				{% for tag in post.tags %}
					<a href='/blog/tag/{{tag}}'>{{tag}}</a>
				{% endfor %}
			</div>
			<div class='post-comments'>
				{% if commentNumbers[post._id.toString()] === 1 %}
					<i class='fa fa-comment'></i> <a href='/blog/posts/{{post._id.toString()}}#comments-holder'>1 comment on this post</a>
				{% endif %}
				{% if commentNumbers[post._id.toString()] > 1 %}
					<i class='fa fa-comment'></i> <a href='/blog/posts/{{post._id.toString()}}#comments-holder'>{{commentNumbers[post._id.toString()]}} comments on this post</a>
				{% endif %}
				{% if !commentNumbers[post._id.toString()] %}
					<i class='fa fa-comments'></i> <a href='/blog/posts/{{post._id.toString()}}#comments-holder'>No comments on this post</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
</body>
</html>